@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

section:nth-child(even) {
  background-color: rgb(244, 239, 239);
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
}
i {
  transition: opacity 300ms ease;
}
i:hover {
  opacity: 0.7;
}

.link__hover-effect:after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: black;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  padding: 0 12px;
  max-width: 800px;
  margin: 0 auto;
}

.text-purple {
  color: #6c63ff;
}

section:child(even) {
  background-color: #f8f8f8;
}

.section__title {
  margin-bottom: 20px;
}

/*Navigation Bar*/
nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  font-weight: 700;
  color: #242424;
}

.nav__link--anchor-primary {
  background-color: #6c63ff;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.personal__logo {
  font-size: 24px;
  color: #6c63ff;
  margin: 0 12px;
  font-weight: bold;
}

/*ABOUT ME*/
#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 8px 16px rgba(0, 6, 6, 0.5);
  margin-bottom: 30px;
  animation: animate-profile-picture 800ms 600ms backwards;
}
@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;
  transform: scale(1.5);
  padding-top: 10px;
}

.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me__link {
  font-size: 20px;
  color: #242424;
  padding: 0 16px;
}
.about-me__links {
  animation: fade-up 650ms 600ms backwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wave {
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
}
@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*SKILLS*/

.skill__wrapper {
  display: flex;
  margin-bottom: 16px;
}

.fa-arrow-right {
  color: #6c63ff;
}

.skill__line {
  margin-left: 8px;
}

.skill__set {
  margin-top: 32px;
}

/*CONTACT*/

.contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

input,
textarea {
  padding: 8px;
  margin-bottom: 16px;
}

textarea {
  resize: none;
}

.form__btn {
  background-color: #6c63ff;
  border: none;
  border-radius: 4px;
  max-width: 120px;
  color: whitesmoke;
  padding: 8px;
}

/*FOOTER*/
footer {
  background-color: #2e2e34;
}

.footer__social--list {
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
}

.footer__logo {
  font-size: 32px;
  color: whitesmoke;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: whitesmoke;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 15px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(70px);
  opacity: 1;
}

.footer__copyright {
  color: whitesmoke;
}

.footer__powered-by {
  margin-top: 16px;
  color: whitesmoke;
}

/*small phones, tablets and large smart phones*/
@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding-right: 30px;
  }
}
/*small phones*/
@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }
  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }
  .project__description--para {
    display: none;
  }
  .project__description--links {
    display: flex;
    justify-content: center;
  }
  .project__description--title {
    line-height: 1;
    font-size: 32px;
    text-align: center;
  }
  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}
